numpy
torch
torchvision
pillow
opencv-python
h5py
tqdm
decord
transformers
sentencepiece
protobuf
tensorflow

#计算learnability模块
scikit-learn
matplotlib

# 用openvla的话
#pip install sentencepiece
#clip

